/* Importing Nanum Gothic from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}

/* Setting background gradient */
body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #348cf1, #a40b0b);
}

/* Setting cursor highlight  */
::selection{
  color: #fff;
  background: #020720;
}

/* Setting wrapper properties */
.wrapper{
  max-width: 600px;
  padding: 28px 0 30px;
  margin: 137px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* Setting task input class properties */
.task-input{
  height: 52px;
  padding: 0 25px;
  position: relative;
}

/* Setting checkmark icon properties */
.task-input img{
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
}

/* Setting submit button properties */
.task-input button{
    height: 100%;
    opacity: 0.5;
    width: 20%;
    outline: none;
    font-size: 17px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    border: 0;
    pointer-events: none;
    background: linear-gradient(135deg, #4150f6 0%, #160058 100%);    
    color: white;
    transition: transform 0.25s ease;
}

/* Setting additional submit button properties when active */
.task-input button.active{
  opacity: 1;
  font-weight: 700;
  pointer-events: auto;
}

/* Setting additional submit button properties when switching states */
.task-input button:active{
  transform: scale(0.93);
}

/* Setting input text field properties */
.task-input input{
  height: 99%;
  width: 80%;
  outline: none;
  font-size: 17px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid #999;
}

/* Setting input text field properties when clicked/active */
.task-input input:focus,
.task-input input.active{
  padding-left: 52px;
  border: 2px solid #3C87FF;
}

/* Setting input text field placeholder properties */
.task-input input::placeholder{
  color: #bfbfbf;
}

/* Setting to-do list properties */
.controls, li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Setting control class properties */
.controls{
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}

/* Setting checkmark greyscale color when inactive */
.task-input img.inactive{
  filter: invert(76%) sepia(14%) saturate(35%) hue-rotate(314deg) brightness(105%) contrast(76%);
}

/* Setting checkmark greyscale color when active */
.task-input img.active{
  filter: invert(24%) sepia(0%) saturate(711%) hue-rotate(226deg) brightness(89%) contrast(82%);
}

/* Setting filter name properties */
.filters span{
  margin: 0 8px;
  font-size: 17px;
  color: #444444;
  cursor: pointer;
}

/* Setting first filter name properties */
.filters span:first-child{
  margin-left: 0;
}

/* Setting active filter name properties */
.filters span.active{
  color: #584cfd;
  font-weight: 800;
}

/* Setting inactive Clear All button properties */
.controls .clear-btn{
  border: none;
  opacity: 0.5;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background: linear-gradient(135deg, #4150f6 0%, #160058 100%);
}

/* Setting active Clear All button properties */
.clear-btn.active{
  opacity: 1;
  pointer-events: auto;
}

/* Setting active Clear All button properties */
.clear-btn:active{
  transform: scale(0.93);
}

/* Setting task box margins */
.task-box{
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}

/* Setting task box scrolling properties */
.task-box.overflow{
  overflow-y: auto;
  max-height: 300px;
}

/* Setting task box scrollbar properties */
.task-box::-webkit-scrollbar{
  width: 5px;
}

/* Setting task box scrollbar properties */
.task-box::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}

/* Setting task box scrollbar properties */
.task-box::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}

/* Setting task item properties */
.task-box .task{
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}

/* Setting last task box item properties */
.task-box .task:last-child{
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

/* Setting last task box item properties */
.task-box .task label{
  display: flex;
  align-items: flex-start;
}
/* Setting task box item properties */
.task label input{
  margin-top: 7px;
  accent-color: #3C87FF;
}
.task label p{
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}
/* Added strikethrough line over item name when hovering -- Improvement (2) */
.task label p:hover {
    text-decoration: line-through;
}
.task label p.checked{
  text-decoration: line-through;
}
.task-box .settings{
  position: relative;
}
.settings :where(i, li){
  cursor: pointer;
}

/* Setting task box item settings menu properties */
.settings .task-menu{
  z-index: 10;
  right: -5px;
  bottom: -65px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}
.task-box .task:last-child .task-menu{
  bottom: 0;
  transform-origin: bottom right;
}
.task-box .task:first-child .task-menu{
  bottom: -65px;
  transform-origin: top right;
}
.task-menu.show{
  transform: scale(1);
}
.task-menu li{
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  justify-content: flex-start;
}
.task-menu li:last-child{
  margin-bottom: 0;
}
.settings li:hover{
  background: #f5f5f5;
}
.settings li i{
  padding-right: 8px;
}

/* Setting general margin properties */
@media (max-width: 400px) {
  body{
    padding: 0 10px;
  }
  .wrapper {
    padding: 20px 0;
  }
  .filters span{
    margin: 0 5px;
  }
  .task-input{
    padding: 0 20px;
  }
  .controls{
    padding: 18px 20px;
  }
  .task-box{
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }
  .task label input{
    margin-top: 4px;
  }
}